*
{
    margin: 0;
    padding: 0;
}
    
body
{
    background-color:#556d93;
}


nav
{
    font-weight: bolder;
    width: 100%;
    height: 100px;
    background-color:#eacea8;
}
    
h1
{
    color:#e9ec4a;
    font-family: arial;
    margin-top: 50px;
    margin-left:580px;
}

img{
    margin-top: 20px;
    margin-left: 615px;
}

p 
{
    margin: 0;
    padding: 20px;
    margin-left:500px;
}

ul 
{
    margin-left: 550px;
}
    
ul li
{
    list-style: none;
    display: inline-block;
    float: left;
    line-height: 100px;
} 
    
ul li a 
{ 
    display: block;
    text-decoration:none;
    font-size:14px;
    font-family: Arial;
    color: #a8490e;
    padding:0 20px;
}

ul li a:hover 
{
    color:rgb(251, 255, 0);
}

article{

}

article h1{
    color:#e9ec4a;
    font-family: arial;
    margin-top: 30px;
    margin-left:120px; /* I do want to centralize the others h1 */
}

article img{
    margin-top: 25px;
    margin-left: 170px;
}

article figcaption{
    font-family: cambria;
    margin-left: 100px;
    font-size: smaller;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff;
    padding: 0px 0;
}